@font-face {
    font-family: 'Mojangles';
    src: url('mojangles.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'Mojangles', sans-serif;
}