ul.header_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    min-height: 48px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color .5s;
}

li a:hover:not(.active) {
    background-color: #000000;
}

.active {
    background-color: #00b3ff !important;
    color: white !important;
    font-weight: 1000 !important;
}

.dropdown-content {
    display: none;

}

.dropdown:hover .dropdown-content {
    display: inline-block;
    width: 150px !important;
    height: auto !important;
    text-decoration: none;
    background: none;
    margin-left: -44px;
}